@font-face {
    font-family: gotham-book;
    src: url(../fonts/ufonts.com_gotham-book-webfont.woff);
}
@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-webfont.woff);
}
body{
	background-color: black;
	font-size: 12px;
	font-family: 'gotham-book',serif;
	letter-spacing: 2px;
}
p{
	font-size: 1.4em;
	text-align: justify;
}
h2{
	color: #43B0D1;
	font-weight: bold;
	font-size: 2.7em;
}
.nu{
	font-size: 1.3em;
}
.one{
	background-color: black;
	background-image: url('../images/banner-bg.jpg');
	height: 250px;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 110px 55px;
	color: white;
}
.one-2{

}

.one-2 span{
	display: none;
}
.one-2 h1,h3,h4,h5,p,a{
	line-height: 1em;
	margin-top: 5px;
	margin-bottom:0px;
}
.one-2 h3{
	color: #44B0CD;
	font-family: "gotham-book";
	font-weight: 900;

}
.one-2 p{
	font-size: 1.1em;

}
.one-2 .btn{
	border-radius: 0;
	border: 1px solid white;
	background-color: unset;
	color: white;
}
.two{
	background-color: white;
	padding-top: 32px;
	color: grey;
}
.two p{
	margin-top: 32px;
	margin-bottom: 48px;
}
.two img{
	margin-top: 32px;
	margin-bottom: 32px;
}
.three{
	background-color: black;
	padding-top: 32px;
	color: white;
	padding-bottom: 32px;
}
.three p,.three h2{
text-align: right;
}

.three img{
	width: 60%;
	margin:0 auto;
	margin-top: 20px;
}
.three input{
	padding: 24px;
}
.three .btn{
	border-radius: 0;
	padding: 16px;
}

.boundary-2{
width: 90%;
 border: 2px solid grey;
 margin-left: -17px;
 height: 310px;
 margin-bottom: 100px;
}
.four{
	background-color: white;
	padding-top: 32px;
	color: grey;
	padding-bottom: 32px;
	border-bottom: 4px solid #43B0D1;
}
.four p{
	padding:32px 0;
	color: grey;
}
.carousel-inner{
	position: relative;
}
.slide-bottom{
	position: absolute;
	bottom: -2px;
	width: 100%;
}
.carousel-control.left,.carousel-control.right{
	background-image: unset;
	background-color: unset;
}
.carousel-control span{
	color: black;
}
.item img{
	width: 100%;
}
.five{

	background-color: #252525;
	padding: 32px;
}
.five img{
	margin: 16px auto;
	margin-bottom: 8px;
}
.five .btn{
	margin:0 auto;
	display: block;
	color: #C7C7C7;
}

.navbar-inverse{
	background-color: unset;
	border-color: unset;
}
.navbar{
	height: 80px;
	margin-top: 8px;
	margin-bottom: 0;
	border-radius: 0;
	border:unset;
}

.navbar-brand img{
	height: 40px;
}
.navbar-toggle{
	margin-top: 15px;
}
.collapse.in{
	background-color: #070709;
	position: relative;
	z-index: 1;
}

.form-group{
	padding-top:8px;
}
.form-control{
	background-color: black;
	border:0;
	border-radius: 0;
	border-bottom: 2px solid white;
}



@media (min-width: 768px) { 
html,body{
	height: 100%;
	font-size: 12px;
}
nav a{
	font-size: 1.1em;
}
p{
	font-size: 1.4em;
}
h2{
	color: #43B0D1;
	font-weight: bold;
	font-size: 3em;
}
.nu{
	font-size: 1.2em;
}
.one{
	height: 560px;
	background-size: 82%;
	background-position: 150px 150px;
	color: white;
}
.one-2{
	margin-top: 100px;
}
.one-2 span{
	display: block;
}
.one h5{
	font-size: 24px;
}
.one h3{
	font-size: 36px;

}
.one-2 h1,h3,h4,h5,p,a{
	line-height: 1.1em;
	margin-top: 8px;
	margin-bottom:0px;
}
.one-2 p{
	font-size: 1.3em;
	letter-spacing: 1px;
}
.one-2 .btn{
	border-radius: 0;
	border: 1px solid white;
	padding: 16px 32px 16px 32px;
	margin-top: 16px;
	background-color: unset;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}
.navbar-brand img{
	height: 90px;
}
.two,.three,.four,.five{
	padding: 24px;
}

.three{
	padding-bottom: 60px;
}
.three img{
	width: 70%;
	margin:0 auto;
}
.three .btn{
	border-radius: 0;
}

.three p,.three h2{
text-align: left;
margin-top: 16px;
margin-bottom: 16px;
}

.boundary-2{
margin-top: 50px;
width: 100%;
 border: 2px solid grey;
 margin-left: -17px;
 height: 310px;
 margin-bottom: 32px;
}
.form-group{
	padding-top:0;
}
.four{
	background-color: white;
	color: black;
	padding-bottom: 48px;
	border-bottom: 4px solid teal;
}
.four p{
	padding:8px 0 32px 0;
	margin-top: 0;
}
.active{
	border-bottom: 2px solid #43B0D1;
}
.navbar-nav{
	margin-top: 55px;
}
.navbar-nav li{
	padding: auto 0;
}
.slide-bottom{
	width: 220px;
}
.four,.five{
	padding-bottom: 100px;
	padding-top: 100px;
}
.five h2{
	margin-bottom: 48px;
}
.five img{
	height: 60px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
html,body{
	height: 100%;
	font-size: 12px;
}
nav a{
	font-size: 1.2em;
}
p{
	font-size: 1.4em;
}
.two,.three,.four,.five{
	padding: auto 48px;
}

.two h2{
	margin-top: 48px;
}

.one{
	height: 600px;
	background-size: 75%;
	background-position: 220px 130px;
}
.one-2 h5{
	font-size: 32px;
}
.one-2 h3{

	font-size: 64px;
	color: #44B0CD;
	letter-spacing: -2px;
}
.one-2 span{
	display: block;
}
.navbar-brand img{
	height: 90px;
	margin-left: 32px;
}

.slide-bottom{
	width: 293.35px;
}
.three img{
	width: 55%;
	margin:0 auto;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
html,body{
	height: 100%;
}
nav a{
	font-size: 1.35em;
}
p{
	font-size: 1.4em;
}
.one{
		height: 750px;

	background-size: 82%;
	background-position: 240px 130px;
}
.one-2{
margin-top: 150px;
}
.one-2 h3{
	font-size: 64px;
	color: #44B0CD;
}
.one-2 span{
	display: block;
}


.slide-bottom{
	width: 360.35px;
}
.three{

}
.three p{
text-align: left;
}

.three img{
	width: 60%;
	margin-bottom: 100px;
}

.my-form{
	margin-top: 60px;
}
.navbar-nav li{
	padding-right:8px;
	padding-left: 8px;
}
.boundary-2{
 width: 95%;
 border-left: none;
 height: 500px;
}
}